mixin list(img, name, date, time, price)
    ul
        img(src=img, alt="user")
        li.name= name 
        li.date= date 
        li.time= time 
        li.price= price

mixin linkLoop()
   - var droids = ["Design", "Product", "color"];
        ul
            for name in droids
                li.card= name
                    
mixin link(href, name)
  a(href=href)&attributes(attributes)= name